body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}
h1{
  color: yellow;
}
h3{
  color: yellow;
}
p{
  color:whitesmoke;
 
}
h2{
  color: yellow;
}
nav{
  background-color: black !important;
  display: flex;
  justify-content: center  !important;
  font-family: Courier !important;
  font-weight: bold;
  font-size: x-large;

  
}
div.nav{
  justify-content: center;
  font-family: Ink Free !important;
  font-weight: bold;
  font-size: x-large !important; 
}
a{
  color: #226F54 !important;
  font-family: Ink Free !important;
  font-weight: bold !important;
  font-size: x-large !important;
}



table{
  background-color: whitesmoke;
  padding: 100px !important; 
  
  
  
}

img{
  width: 100px;
  height: 100px;
}
div.table{
  padding-left: 20%;
  padding-right: 20%;
}